@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

:root {
	--ice-cold: #a0d2eb;
	--freeze-purple: #e5eaf5;
	--medium-purple: #d0bdf4;
	--purple-rain: #8458B3;
	--heavy-purple: #a28089;
	--muted-black: #151515;
	--muted-dark-gray: #202022;
}

.bg-night {
	--tw-bg-opacity: 1;
	background-color: var(--muted-black);
}

html {
	line-height: 1.5;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	margin: 0;
}

.bold {
	font-weight: bolder;
}

/* GRID LAYOUT */
.container {
	display: grid;
	grid-template: .5fr 5fr .5fr / 1fr 3fr;
	height: 100%;
}

nav, main, aside, article, .desc-block {
	padding: 10px 15px;
	margin: 10px 15px;
	color: white;
	/* border: 1px solid white; */
}

nav {
	border: 1px solid white;
	height: 30px;
	color: white;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.desc-block {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

main {
	grid-row: 2 / 3;
	grid-column: 2 / 4;
}

article {
	grid-row: 3 / 4;
	grid-column: 1 / 4;
}

.main-block {
	height: 800px;
	border: 1 solid white;
}

.main-block .col {
	border-radius: 5px;
}

/* NAVIGATION MENU */
.navbar .navbar-container {
  display: flex;
  justify-content: space-between;
	padding: 0;
	margin: 4px 0;
	position: relative;
	height: 100%;
}

.navbar .navbar-container h1 {
  margin: -8px 0;
}

.navbar .navbar-container .menu-icon {
	display: block;
}

.navbar .navbar-container .menu-icon input[type="checkbox"] {
	margin: 0;
}

.navbar .navbar-container .menu-icon #menu {
	visibility: hidden;
	zoom: 2;
} /* hiding the checkbox */ 

/* hamburger */
.navbar .navbar-container .menu-icon label {
	display: block;
	width:20px;
	height:3px;
	border-radius:5px;
	background:#fff;
	cursor:pointer;
	transition:0.6s;
	position: relative;
	left: 4px;
	bottom: 22px;
	z-index: 2;
}

.navbar .navbar-container .menu-icon label:before {
	content:"";
	width:20px;
	height:3px;
	background:#fff;
	position:absolute;
	transform:translateY(-10px);
	border-radius:5px;
	transition:0.6s;
}
.navbar .navbar-container .menu-icon label:after {
	content:"";
	width:20px;
	height:3px;
	background:#fff;
	position:absolute;
	transform:translateY(10px);
	border-radius:5px;
	transition:0.6s;
}

/* animation when checked */
#menu:checked + label {
	width:0px;
}
#menu:checked + label::before {
	transform:rotate(45deg) translate(0px);
}
#menu:checked + label::after {
	transform:rotate(-45deg) translate(0px);
}

#menu ~ .hamburger-menu {
	display: none;
}

#menu:checked ~ .hamburger-menu {
	right: 0px;
	display: grid;
}

.hamburger-menu {
	margin: 0;
	position: absolute;
	top: 10px;
}

.hamburger-menu .menu-items {
  border-radius: 5px;
  background-color: var(--medium-purple);
	padding-left: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
	z-index: 2;
	opacity: 0.95;
}
.menu-items li {
  padding: 12px 24px;
  margin: 0 16px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	list-style: none;
  text-align: center;
}
.hamburger-menu .menu-items li a {
	color: white;
	font-weight: 700;
	text-decoration: none;
	transition: all .2s ease-in-out;
}
.hamburger-menu .menu-items li:hover a {
  color: var(--purple-rain)
}

.menu-items a:nth-of-type(1) {
	padding-top: 5px;
}
.menu-items a:nth-last-of-type(1) {
	border-bottom: none;
}

.desc-block {
	color: white;
	line-height: normal;
	max-height: 100%;
}

/* MAIN */
.main-block {
  display : flex;
  justify-content : left;  
  min-height : 800px;
}

.desc-block h1 {
	border: none;
	font-size: 70px;
	margin: 0;
}

.desc-block a {
	font-weight: inherit;
	color: inherit;
}

.desc-block .bio-title {
	font-size: 20px;
	font-weight: 100;
	color: var(--medium-purple);
}

.desc-block .bio-desc {
	display: inline-block;
	padding-top: 15px;
	color: var(--freeze-purple);
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 0px;
}

.desc-block .bio-desc p {
	line-height: 4px;
	font-size: 14px;
}

.desc-block .bio-desc .bio-desc-end {
	color: var(--ice-cold);
	font-weight: 500;
	font-size: 18px;
}

.filter-box {
  position: relative;
	padding: 40px 0;
}

.filter-box select {
	background-color: var(--muted-dark-gray);
	padding: 0 5px;
  color: white;
  width: 250px;
	height: 30px;
  font-size: 14px;
	border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline: none;
}

.filter-box:hover::before {
	background-color: var(--muted-dark-gray);
}

.filter-box select option {
  padding: 10px;
}


.card-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
	overflow: hidden;
	column-gap: 20px;
	row-gap: 40px;
}

.card-container .card {
	position: relative;
	/* display: block; */
  width: 240px;
  height: 225px;
	border: 1px solid var(--freeze-purple);
	border-radius: 2px;
}

.card__side {
  height: 225px;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: inherit;
}

.card__side--back {
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background: linear-gradient(-45deg, var(--freeze-purple), var(--purple-rain));
}
.card__side--back-2 {
  background: linear-gradient(-45deg, var(--freeze-purple), var(--ice-cold));
}
.card__side--back-3 {
  background: linear-gradient(-45deg, var(--freeze-purple), var(--muted-dark-gray));
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}

.card-container .card .card-heading {
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  width: 100%;
	text-align: center;
}

.card-container .card .card-title {
	position: relative;
	font-size: 28px;
  font-weight: 700;
	text-align: center;
	margin: 10px 0;
	padding-top: 32px;
}

.card-container .card .card__details {
	position: relative;
	font-size: 10px;
	font-weight: 100;
	padding: 0 5px;
	text-align: center;
	color: gray;
	line-height: 1.2;
}

.card-container .card .card__details .language {
	font-size: 11px;
	color: var(--medium-purple);
}

.card-github {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-github .card-github-details {
  text-align: center;
  color: #fff;
	padding: 0 10px;
  font-size: 14px;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.2s;
  position: relative;
  font-size: 12px;
  border: none;
  cursor: pointer;
	background-color: white;
	width: 30%;
	color: black;
	font-weight: 500;
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}


/* CONTACTS */
.contact-block {
	font-family: "Lato", sans-serif;
	font-size: 12px;
	color: white;
}

.contact-block .social-icons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-left: 0;
}

.contact-block .social-icons li {
	display: inline;
	list-style: none;
	text-align: center;
}

.contact-block .social-icons li .connect {
	font-size: 18px;
}

.contact-block .social-icons a {
	color: white;
	text-decoration: none;
	vertical-align: middle;
}

.contact-block .fa {
	transition: .5s;
	width: 10px;
	height: 10px;
}

.contact-block .fa-facebook {
	padding:10px 14px;
	background-color: #322f30;
}
.fa-facebook:hover {
	background-color: #3d5b99;
}
.fa-inbox {
	padding:10px 14px;
	background-color: #322f30;
}
.fa-inbox:hover {
	background-color: #e64a41;
}
.fa-phone {
	padding:10px 14px;
	background-color: #322f30;
}
.fa-phone:hover {
	background-color: #198219;
}
.fa-instagram {
	padding:10px 14px;
	background-color: #322f30;
}
.fa-instagram:hover {
	background-color: #405DE6;
}
.fa-linkedin {
	padding:10px 14px;
	background-color: #322f30;
}
.fa-linkedin:hover {
	background-color: #0073a4;
}
.fa-github {
	padding:10px 14px;
	background-color: #322f30;
}
.fa-github:hover {
	background-color: #5a32a3;
}


/* FOOTER */
footer > div {
	color: gray;
	padding: 0 10px;
	font-size: smaller;
}